*{
	margin: 0;
	padding: 0;
}

body{
	background: url(organik.jpg)no-repeat 50% 50%;
	background-size: cover;
	background-position: center;
	font-family: century gothic;
	height: 70vh;
}
header {
      width: 100%;
      height: 100vh;
      background: url(organik.jpg) no-repeat 50% 50%;
      background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(kelapa.jpg) no-repeat;
      background-size: cover;
}
ul{
	float: left;
	list-style-type: none;
	margin: 4px;
}
nav {
      position: fixed;
      width: 100%;
      line-height: 60px;
}
ul li{
	text-align: right;
	display: inline-block;
}
ul li a{
	text-decoration: none;
	color: #fff;
	padding: 5px 20px;
	border:1px solid transparent;
	font-size: 20px;
	transition: .6s ease;
}
ul li a:hover{
	background-color: #e6f972;
	color: #000;
	opacity: .8;
}
ul li.active a{
	background-color: #e6f972;
	color: #000;
}
.logo img{
	float: left;
	width: 160px;
}
.logo img:hover{
	cursor: pointer;
}

.title{
	text-transform: uppercase;
	text-align: center;
	position: absolute;
	top: 55%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.title h1{
	color: #fff;
	font-size: 35px;
}
.title img{
	left: 50%;
}
.content {
      width: 94%;
      margin: 4em auto;
      font-size: 20px;
      line-height: 30px;
      text-align: justify;
      scroll-behavior: smooth;
}
section{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%
}

.container{
	position: relative;
	width: 1400px;
	height: 400px;
	margin: 20px auto;
}
.container .box{
	position: relative;
	width: calc(500px - 30px);
	height: calc(400px - 30px);
	background: #95f442;
	float: left;
	margin: 15px;
	box-sizing: border-box;
	overflow: hidden;
	border-radius: 10px;
}
.container .box .icon{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #a4ff1c;
	transition: 0.5s;
	z-index: 1;
}
.container .box:hover .icon{
	top: 20px;
	left: calc(50% - 40px);
	width: 80px;
	height: 80px;
	border-radius: 50%;
}

.btn button[type= "submit"]{
	width: 100%;
	background: tosca;
	border: 2px solid #30b1a6;
	color: black;
	padding: 5px;
	font-size: 16px;
	cursor: pointer;
	margin: 12px 0;
	border-radius: 10px;
}
.search input[type="text"]
{
	border: none;
	border-bottom: 1px solid #ffffff;
	background: transparent;
	outline: none;
	height: 40px;
	color: #ffffff;
	font-size: 16px;
}
.search button[type="submit"]
{
	border: none;
	outline: none;
	height: 40px;
	background: #fff;
	color: black;
	font-size: 18px;
	border-radius: 10px;
}
.search{
	position: absolute;
	right: 5%;
	top: 35%;
	transform: translate(-10%,-60%);
	height: 30px;
	border-radius: 20px;
	padding: 10px;
	opacity: .7;
}
.main{
	max-width: 1000px;
	margin:auto;
	margin-top: 10px;
}
.navigasi{
	width: 100%;
	background:black;
	height: 80px;
	top: 0;
	opacity: .7;
	position: fixed;
	z-index: 100;
}